streamlit==1.42.0
streamlit-authenticator==0.4.1
st-files-connection==0.1.0
llama-index==0.12.2
llama-index-llms-gemini==0.4.1
llama-index-vector-stores-pinecone==0.4.1
pinecone==5.3.1
s3fs==2024.9.0
Pygments==2.16.1
markdown==3.7
psutil==5.9.6
