streamlit==1.43.1
streamlit-authenticator==0.4.1
llama-index==0.12.2
llama-index-llms-gemini==0.4.1
llama-index-vector-stores-pinecone==0.4.1
pinecone==5.3.1
s3fs==2025.3.0
Pygments==2.16.1
markdown==3.7
psutil==5.9.6
emoji==2.14.0
chardet==5.2.0
stripe==11.6.0
streamlit-audiorecorder==0.0.6